<p>This throws a ExpressionChangedAfterItHasBeenCheckedError </p>
<select
    id="dropdownDoesNotWork"
    [(ngModel)]="value1"
    (change)="onChange($event.target.value);"
  >
    <option value="">Select</option>
    <option value="400">400: Bad Request</option>
  </select>
<p>This does not throw an error.</p>
  <select
    id="dropdownWorks"
    [(ngModel)]="value2"
    #selectModel="ngModel"
    (change)="selectModel.control.markAsTouched(); onChange($event.target.value);"
  >
    <option value="">Select</option>
    <option value="400">400: Bad Request</option>
  </select>
<router-outlet></router-outlet>
